
/* Correct comment for CSS files is a block style comment */

html {
  box-sizing:content-box;
}


/* using class="aboutMe" for aside element describing myself */
.aboutMe {
  background-color: gray;
  width:30%;
  float:right;
  padding:1em;
  border-radius:1em;

}

.aboutMe img {
  width:100%;
  border-radius:1em;
}

.aboutMe h1 {
  text-align:center;
}

.aboutMe p {
  text-align:justify;
  text-indent: 2em;
}

ul.links, ol.links {
  /* remove markers from list of links
     I put links in list instead of using BR between them */
  list-style: none;
  padding:0;
  margin:0;
}

li {
  padding:.5em;
  background-color:#5a5959;
  border:1px solid black
}

a  {
  text-decoration: none;
}

a:hover {
  font-size:1.5em;
}
